{{ partial "header" . }}

<main>

    <div class="intro">

        <p><img src="img/kshlogo.jpg" height="130px" alt=""></p>

        <h1>{{ .Site.Title }}</h1>

        <h2>{{ markdownify .Site.Params.Description }}</h2>



    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">            
            <a class="nextSessionLink" href="http://www.evand.ir/kshlug">ثبت نام جلسه آینده لاگ</a><br>
            <img src="img/next_session.jpg" width="400px">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h5><a href="https://www.openstreetmap.org/#map=18/34.33387/47.08716"> {{ markdownify .Site.Params.Address }}</a></h5>
            <iframe width="400" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=47.08605855703354%2C34.332955823386634%2C47.089599072933204%2C34.334949208382085&amp;layer=mapnik&amp;marker=34.33395252180549%2C47.08782881498337" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=34.33395&amp;mlon=47.08783#map=19/34.33395/47.08783">View Larger Map</a></small> 
    </div>
</main>

{{ partial "footer" . }}
